<div class="container">
  <div class="row">
    <div class="col-lg-8 left-side">
      {{#each model as |arrow|}}
        {{comment-box arrow=arrow}}
      {{/each}}
    </div>
    <div class="col-lg-4 fixed-input">
      {{outlet}}
    </div>
  </div>
</div>

{{#link-to "arrows.new" class="btn"}}Send Data{{/link-to}}
