<div class="container" style="padding: 10px 10px;">
  <div class="row">
    <div class="col-lg-8 left-side">
      {{#each model as |arrow|}}
        {{comment-box arrow=arrow}}
      {{/each}}
    </div>
    <div class="col-lg-4 fixed-input">
      {{outlet}}
    </div>
  </div>
</div>

{{#link-to "arrows.new" class="btn btn-lg arrow-btn"}}Create arrow{{/link-to}}

<style media="screen">
  .arrow-btn{
    bottom: 0;
    right: 0;
    position: fixed;
    border: 1px solid black;
    margin: 0 10px 10px 0;
    border: 1px solid #4286f4;
    transition: .3s;
    color: #4286f4 !important;
    border-radius: 0;
  }
  .arrow-btn:hover{
    background-color: #4286f4;
    transition: .3s;
    color: #FFF !important;
  }
</style>
